*{
  margin: 0;
  padding: 0;
}
@font-face{
	font-family: stanberry;
	src: url('Timeless.ttf');
}

#head{
	background: black;
	color: white;
	font-family: stanberry;
	font-size: 6vw;
	text-align: center;
	font-weight: bold;
	padding: 2vw;
	position: fixed;
	width: 100%;
	z-index: 2;
}
#content{
	color: #5e5e5e;
	font-family: stanberry;
	font-size: 4vw;
	text-align: justify;
	width: 90vw;
	margin-left: 5vw;
	margin-top: 30vw;
	position: absolute;
	z-index: 1;
}
#content h3{
	color: black;
}
#content b{
	color: black;
}
img{
	width: 80vw;
	margin-left: 5vw;
}
.caption{
	color: green;
	font-family: stanberry;
	font-size: 4vw;
	text-align: center;
	padding-bottom: 10vw;
	width: 80vw;
	margin-left: 5vw;
}
#footer{
	width: 100%;
	height: 10vw;
	margin-top: 720vw;
	background: black;
	position: absolute;
}
#link{
	width: 30vw;
	padding: 2vw;
	text-align: center;
	color: white;
	font-family: stanberry;
	font-size: 4vw;
	background: black;
	margin-left: 33vw;
}
#footer a{
	text-decoration: none;
}